*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-size: 24px;
}
.matIcons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
#wrapper{
    height: 100%;
    width: 100%
}
button{
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
}
header{
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   position:relative;
   display: flex;
   flex-direction: column;
   background-color: black;
}
#vid{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
}
#slide{
    width: 400px;
}
#controls{
    width: 100%;
    background-color: rgba(4, 3, 3, 0.7);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    transition: all .25s ease-in-out;
}
#controls:hover{
    opacity: 1;
    transition: all .25s ease-in-out;
 }
button:focus {
    outline:0;
}
.material-icons{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
#loopOrNot i{
    color: #8A4F7D;
}
#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#leftRight{
    display: flex;
    flex-direction: row;
}
#volumeControls{
    display: flex;
    justify-content: center;
    align-items: center;
}
#zoomMove{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#zoomPanelSwitch{
    margin-right: 10px;
}
#zoomControls{
    margin: 0 10px 0 0;
    justify-content: center;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: ;
    border: 0.5px solid white;
    border-radius: 5px;
}
#volumeControls{
    display: flex;

}
#slide{
    width: 100%;
}

#secLevelControls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 8px;
}
#playPauseControls{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
#firstPanel{
    display: flex;
    align-items: center;
}
#lastPanel{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Range CSS */
input[type=range].mainSlider {
  -webkit-appearance: none;
  width: 100%;
  margin: 0px 0;
}
input[type=range].mainSlider:focus {
  outline: none;
}
input[type=range].mainSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #521945;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].mainSlider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.49), 0px 0px 0px rgba(255, 26, 26, 0.49);
  border: 2.9px solid #8a4f7d;
  height: 15px;
  width: 25px;
  border-radius: 28px;
  background: #521945;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range].mainSlider:focus::-webkit-slider-runnable-track {
  background: #521945;
}
input[type=range].mainSlider::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #521945;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].mainSlider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.49), 0px 0px 0px rgba(255, 26, 26, 0.49);
  border: 2.9px solid #8a4f7d;
  height: 15px;
  width: 25px;
  border-radius: 28px;
  background: #521945;
  cursor: pointer;
}
input[type=range].mainSlider::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].mainSlider::-ms-fill-lower {
  background: #eb9e8b;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].mainSlider::-ms-fill-upper {
  background: #521945;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].mainSlider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.49), 0px 0px 0px rgba(255, 26, 26, 0.49);
  border: 2.9px solid #8a4f7d;
  width: 25px;
  border-radius: 28px;
  background: #521945;
  cursor: pointer;
  height: 10px;
}
input[type=range].mainSlider:focus::-ms-fill-lower {
  background: #521945;
}
input[type=range].mainSlider:focus::-ms-fill-upper {
  background: #521945;
}



input[type=range].volSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 0;
  margin: 12px 8px;
}
input[type=range].volSlider:focus {
  outline: none;
}
input[type=range].volSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #521945;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].volSlider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.49), 0px 0px 0px rgba(255, 26, 26, 0.49);
  border: 2.9px solid #8a4f7d;
  height: 10px;
  width: 20px;
  border-radius: 28px;
  background: #521945;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;
}
input[type=range].volSlider:focus::-webkit-slider-runnable-track {
  background: #521945;
}
input[type=range].volSlider::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #521945;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].volSlider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.49), 0px 0px 0px rgba(255, 26, 26, 0.49);
  border: 2.9px solid #8a4f7d;
  height: 10px;
  width: 20px;
  border-radius: 28px;
  background: #521945;
  cursor: pointer;
}
input[type=range].volSlider::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].volSlider::-ms-fill-lower {
  background: #eb9e8b;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].volSlider::-ms-fill-upper {
  background: #521945;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range].volSlider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.49), 0px 0px 0px rgba(255, 26, 26, 0.49);
  border: 2.9px solid #8a4f7d;
  height: 10px;
  width: 20px;
  border-radius: 28px;
  background: #521945;
  cursor: pointer;
  height: 2px;
}
input[type=range].volSlider:focus::-ms-fill-lower {
  background: #521945;
}
input[type=range].volSlider:focus::-ms-fill-upper {
  background: #521945;
}
